body {
  background-color: #f5f5f5;
  color: #212121;
  list-style: none;
  font-family: "Roboto";
}

ul {
  list-style: none;
}



























цвет
  футера
  и
  фон
  заголовка
  #2F303A
  чем
  занимаемся
  #F5F5F5
  наша
  команда
  #F5F4FA
  описание
  перед
  чем
  занимаемся
  #757575
  текст
  #212121;
